@import url("./slick.css");
@import url("./tailwind.scss");

@import "swiper/css";
@import "swiper/css/pagination";

.financing-services-tab {
  .ant-tabs-ink-bar {
    height: 6px !important;
  }
}
.ant-float-btn-body {
  background-color: transparent !important;
}
.ant-segmented-item-selected{
  background: linear-gradient( 270deg, #7B9DF1 0%, #3C5BF6 100%) !important;
}
.custom-header .ant-table-thead{
  background: linear-gradient( 270deg, #5CC1DC 0%, #3C5BF6 100%);
}

.custom-tag .ant-tag-checkable-checked{
  background: #F0F3FF;
  color: #3D5AF5;
}
.border-0 .ant-tabs-nav::before{
border-bottom: 0px !important;
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

.active-item{
  color: #3D5AF5 !important;
  position: relative;
  
  &::before{
    content: '';
    width: 4px;
    position: absolute;
    height: 14px;
    top: 50%;
    left: 0;
    border-radius: 2px;
    margin-top: -7px;
    background: #3D5AF5;
    
  }

}
.ant-message{
  top: 80px !important;
}
.content-info{
  th,td{
    border: 1px dashed #bbb !important;
  }
}