/* purgecss start ignore */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .bg-full-80 {
      background-size: 100% 100%;
    }
  }
body {
  @apply bg-white-500;
  color: #333;
  font-family: "SourceHanSansCN, SourceHanSansCN";
}
@layer base {
  img {
    height: auto;
  }
}
.flex-c-c {
  @apply flex items-center justify-center flex-col

}
.flex-r-c {
  @apply flex items-center justify-center flex-row

}
.text-desc {
  @apply font-normal text-[14px] text-[#999999] leading-[18px];
}
.footer-item {
  @apply font-bold text-[20px] text-white-500 leading-[30px];
}
.bg-size-auto-repeat {
  @apply bg-bottom bg-no-repeat bg-full-80;
}

.before-cir {
  @apply relative before:content-[''] before:w-[6px] before:h-[6px] before:bg-primary-500 before:rounded-full before:absolute before:left-0 before:top-[50%] before:!mt-[-3px] pl-3 /* 自定义按钮样式 */
}