.policy-hover{
    border-color: #3D5AF5;
    .desc-item{
       opacity: 1;
       width: 100%;
    }
}
.act-item{
    background: #7BF1C2;
}
.act-item-card{
    border-bottom: 2px solid #3D5AF5 !important;
}